{% extends 'base-membre.html.twig' %}

{% block title %}admin member!{% endblock %}

{% block body %}

<div class="example-wrapper">
    

    <div class='content-member'>
        <h1>page membre</h1>
        {{ include('member/_form.html.twig') }}
    </div>

</div>
{% endblock %}
