{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Pour finaliser votre inscription 1 mois gratuit. Insérer votre moyen de paiement</h1>
    // todo obfuscer le javascript
<div id="paypal-button-container-P-7CS83708LT127815SMOWK6YQ"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AVrLhX2dc7X1GxwOYkRMT2gCGzmgaRFRFsX8SbRb6YW0vM923A-FoitNjkVhI0tPV5UzKEAD_kQRcCUL&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
    function _0x1522(_0x2028f9,_0x47a6be){const _0x158ecb=_0x158e();return _0x1522=function(_0x1522fa,_0x2fda7a){_0x1522fa=_0x1522fa-0x16c;let _0x1cc6ad=_0x158ecb[_0x1522fa];return _0x1cc6ad;},_0x1522(_0x2028f9,_0x47a6be);}const _0x26f1a5=_0x1522;(function(_0x55c897,_0x388be9){const _0x23de9d=_0x1522,_0x5a107b=_0x55c897();while(!![]){try{const _0x5452ec=-parseInt(_0x23de9d(0x172))/0x1*(-parseInt(_0x23de9d(0x170))/0x2)+-parseInt(_0x23de9d(0x179))/0x3*(parseInt(_0x23de9d(0x16d))/0x4)+-parseInt(_0x23de9d(0x176))/0x5+-parseInt(_0x23de9d(0x17d))/0x6+parseInt(_0x23de9d(0x174))/0x7+parseInt(_0x23de9d(0x17c))/0x8+parseInt(_0x23de9d(0x17f))/0x9;if(_0x5452ec===_0x388be9)break;else _0x5a107b['push'](_0x5a107b['shift']());}catch(_0x521df3){_0x5a107b['push'](_0x5a107b['shift']());}}}(_0x158e,0xc36ce),paypal[_0x26f1a5(0x16e)]({'style':{'shape':_0x26f1a5(0x16c),'color':_0x26f1a5(0x182),'layout':'horizontal','label':_0x26f1a5(0x181)},'createSubscription':function(_0x37e41c,_0x33d3ee){const _0x311a51=_0x26f1a5;return _0x33d3ee[_0x311a51(0x17a)]['create']({'plan_id':'P-7CS83708LT127815SMOWK6YQ'});},'onApprove':function(_0x5c072d,_0x36f186){const _0x59eedc=_0x26f1a5,_0x2295dd=new XMLHttpRequest();_0x2295dd[_0x59eedc(0x17e)](_0x59eedc(0x177),_0x59eedc(0x175)+_0x5c072d[_0x59eedc(0x178)]),_0x2295dd[_0x59eedc(0x17b)](),alert(_0x59eedc(0x16f)),window[_0x59eedc(0x180)][_0x59eedc(0x171)]('/login');}})['render'](_0x26f1a5(0x173)));function _0x158e(){const _0x15f399=['send','5812984FaLHSP','7360386ruuhUk','open','5675661hIGzIf','location','subscribe','white','pill','4uznCIF','Buttons','Inscription\x20réussi\x20vous\x20pouvez\x20vous\x20connecter','6848byjRme','replace','283AlKgvj','#paypal-button-container-P-7CS83708LT127815SMOWK6YQ','10475178WOudql','/payement?subId=','6098980QQHaRh','POST','subscriptionID','1727127wOAnLP','subscription'];_0x158e=function(){return _0x15f399;};return _0x158e();}
</script>

{% endblock %}