<form method="post" action="{{ path('app_calcul_delete', {'id': calcul.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer cet élement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calcul.id) }}">
    <button class="delete-btn">Supprimer</button>
</form>
