{% extends 'base-membre.html.twig' %}

{% block title %}Edit Calcul{% endblock %}

{% block body %}
    <h1>Editer le Calcul</h1>

    {{ include('calcul/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_calcul_index') }}">Retour à la liste</a>

    {{ include('calcul/_delete_form.html.twig') }}
{% endblock %}
