{% extends 'base-membre.html.twig' %}

{% block title %}New Calcul{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('app_calcul_index') }}">Calcul de rentabilité</a></li>
        <li><a href="{{ path('app_calcul_index') }}">Vos devis</a></li>
        <li>Nouveau calcul</li>
    </ul>
    <div class="back">
        <div class="back-to-list">
            <a href="{{ path('app_calcul_index') }}">Retour à la liste</a>
        </div>
    </div>
    <div class="calcul-data">
        {{ include('calcul/_form.html.twig') }}
    </div>
{% endblock %}
