{% extends 'base.html.twig' %}

{% block title %}Calcul de rentabilités pour les appels d'offres{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>

    <p>Calcul de rentabilités pour les appels d'offres:</p>

</div>
{% endblock %}
