{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'abonnement à l'application SaaS{% endblock %}

{% block body %}
<h1>Conditions générales d'abonnement à l'application SaaS</h1>

<h2>Objet</h2>
<p>
Les présentes Conditions Générales d'Abonnement (ci-après les "Conditions") ont pour objet de définir les modalités de souscription et d'utilisation de l'abonnement à l'application SaaS (ci-après l'"Application") proposée par Progfacil (ci-après "nous" ou "notre").
</p>
<h2>Acceptation des Conditions</h2>
<p>
L'accès et l'utilisation de l'Application sont soumis à l'acceptation et au respect des présentes Conditions. En souscrivant à un abonnement à l'Application, vous reconnaissez avoir pris connaissance de l'ensemble des Conditions et vous les acceptez sans réserve. Si vous n'acceptez pas l'ensemble ou une partie des Conditions, vous ne devez pas utiliser l'Application.
</p>
<h2>Description de l'Application</h2>
<p>
L'Application est une plateforme en ligne permettant la gestion et le calcul de rentabilités des projets.
</p>
<h2>Souscription à l'abonnement</h2>
<p>
Pour souscrire à un abonnement à l'Application, vous devez remplir et soumettre le formulaire de souscription en ligne. La souscription à l'abonnement sera effective dès que nous aurons confirmé votre paiement. Nous nous réservons le droit de refuser toute souscription, sans devoir en justifier les raisons.
</p>
<h2>Durée de l'abonnement</h2>
<p>
L'abonnement est valable pour une durée de 1 mois, à compter de la date de souscription. L'abonnement sera automatiquement renouvelé pour des périodes successives de la même durée, à moins que vous ne résiliez votre abonnement avant la fin de la période en cours.
</p>
<h2>Prix de l'abonnement</h2>
<p>
Le prix de l'abonnement est de 7 euros par mois. Le prix de l'abonnement peut être modifié à tout moment et sera applicable dès la prochaine période de facturation. Nous nous réservons le droit de facturer des frais supplémentaires pour certaines fonctionnalités ou services optionnels proposés dans l'Application.
</p>
<h2>Paiement de l'abonnement</h2>
<p>
Le paiement de l'abonnement se fera par carte de crédit. Vous garantissez que les informations de paiement que vous nous fournissez sont exactes et à jour.
</p>

<h2>Résiliation de l'abonnement</h2>
<p>
Vous pouvez résilier votre abonnement à tout moment en nous en informant par écrit (par email ou par courrier postal). La résiliation sera effective à la fin de la période d'abonnement en cours, et vous ne serez pas remboursé pour la période non utilisée.
</p>
<h2>Suspension de l'abonnement</h2>
<p>
Nous nous réservons le droit de suspendre votre accès à l'Application en cas de non-paiement de l'abonnement ou de violation de l'une quelconque des présentes Conditions. Nous vous informerons par écrit de la suspension de votre abonnement et vous donnerons la possibilité de régulariser la situation avant la fin de la suspension. Si la situation n'est pas régularisée dans les 2 mois, nous nous réservons le droit de résilier définitivement votre abonnement.
</p>
<h2>Responsabilité</h2>
<p>
Nous mettons tout en œuvre pour assurer la disponibilité de l'Application et pour corriger toutes les erreurs qui pourraient survenir. Cependant, nous ne pouvons garantir que l'Application sera exempte d'erreurs ou de temps d'indisponibilité. Nous ne serons pas responsables des dommages indirects (tels que perte de profits ou perte de données) qui pourraient résulter de l'utilisation de l'Application.
</p>
<h2>Propriété intellectuelle</h2>
<p>
L'Application et tous les contenus qui y sont diffusés (textes, images, sons, vidéos, etc.) sont protégés par le droit de la propriété intellectuelle. Vous n'avez pas le droit de copier, de modifier, de diffuser ou de utiliser ces contenus à des fins commerciales sans notre autorisation écrite préalable.
</p>
<h2>Modification des Conditions</h2>
<p>
Nous nous réservons le droit de modifier à tout moment les présentes Conditions. Les Conditions modifiées seront applicables dès leur mise en ligne sur notre site internet. Nous vous invitons à consulter régulièrement les Conditions pour prendre connaissance des éventuelles modifications.
</p>
<h2>Loi applicable et juridiction compétente</h2>
<p>
Les présentes Conditions sont régies par la loi Française. Tout litige relatif à l'interprétation et à l'exécution des présentes Conditions sera de la compétence exclusive des tribunaux Paris.
</p>
{% endblock %}