{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<h1>Politique de confidentialité</h1>
<p>
Notre entreprise s'engage à protéger votre vie privée. Cette politique de confidentialité décrit les types de renseignements personnels que nous collectons et comment nous les utilisons.
</p>
<h2>Collecte de renseignements personnels</h2>
<p>
Nous collectons des renseignements personnels lorsque vous utilisez nos services, par exemple lorsque vous vous inscrivez pour créer un compte, que vous effectuez un achat ou que vous remplissez un formulaire en ligne. Les renseignements personnels que nous collectons peuvent inclure votre nom, votre adresse électronique, votre numéro de téléphone et votre adresse postale.
</p>
<h2>Utilisation de renseignements personnels</h2>
<p>
Nous utilisons les renseignements personnels que nous collectons pour vous fournir nos services et pour améliorer votre expérience en ligne. Nous pouvons utiliser vos renseignements personnels pour vous envoyer des communications marketing, mais seulement si vous avez donné votre consentement. Nous ne partagerons pas vos renseignements personnels avec des tiers sans votre consentement.
</p>
<h2>Sécurité de vos renseignements personnels</h2>
<p>
Nous prenons des mesures de sécurité pour protéger vos renseignements personnels contre l'accès, l'utilisation ou la divulgation non autorisés. Nous utilisons des technologies de sécurité standard de l'industrie pour protéger les renseignements que nous collectons en ligne.
</p>
<h2>Cookies</h2>
<p>
Nous utilisons des cookies pour pouvoir vous connectez sur notre site Web. Un cookie est un petit fichier de données qui est enregistré sur votre ordinateur lorsque vous visitez notre site Web. Vous pouvez choisir de désactiver les cookies dans votre navigateur, mais cela peut affecter votre capacité à utiliser certaines fonctionnalités de notre site.
</p>
<h2>Modifications de notre politique de confidentialité</h2>
<p>
Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Si nous apportons des modifications importantes à notre politique de confidentialité, nous vous en informerons en affichant un avis sur notre site Web. Nous vous encourageons à consulter régulièrement notre politique de confidentialité pour prendre connaissance de tout changement.
</p>
<h2>Contactez-nous</h2>
<p>
Si vous avez des questions sur notre politique de confidentialité ou sur la manière dont nous utilisons vos renseignements personnels, veuillez nous contacter.
</p>
<h2>Consentement</h2>
<p>
En utilisant notre site Web ou nos services, vous consentez à la collecte, à l'utilisation et à la divulgation de vos renseignements personnels conformément à cette politique de confidentialité. Si vous n'êtes pas d'accord avec cette politique de confidentialité, veuillez ne pas utiliser notre site ou nos services.
</p>
<h2>Accès et rectification de vos renseignements personnels</h2>
<p>
Vous avez le droit de demander l'accès à vos renseignements personnels et de les corriger en cas d'inexactitude. Si vous souhaitez accéder à vos renseignements personnels ou si vous avez des questions sur la manière dont nous utilisons vos renseignements personnels, veuillez nous contacter en utilisant les coordonnées ci-dessous.
</p>
<h2>Contact</h2>
<p>
Si vous avez des questions sur cette politique de confidentialité ou sur la manière dont nous utilisons vos renseignements personnels, veuillez nous contacter en utilisant les coordonnées ci-dessous :
</p>
Progfacil</br>
26 rue bosquet 75007 PARIS</br>
01 48 69 44 52</br>
contact@progfacil.com</br>
<p>
Cette politique de confidentialité a été mise à jour pour la dernière fois le 01/01/2022. Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment en publiant une nouvelle version sur notre site Web. Veuillez vérifier régulièrement cette page pour prendre connaissance de tout changement.
</p>
{% endblock %}