{% extends 'base.html.twig' %}

{% block title %}MENTIONS LÉGALES{% endblock %}

{% block body %}
    <h1>MENTIONS LÉGALES</h1>

    <p>
     Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Progfacil l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>

    <h2>Edition du site</h2>

    <p>Le présent site, accessible à l’URL www.progfacil.com (le « Site »), est édité par :</p>
    <p>
        Progfacil , société au capital de 10000 euros, inscrite au R.C.S. de PARIS sous le numéro RCS Paris B 913 126 280, dont le siège social est situé au 26 rue bosquet 75007 PARIS, représenté(e) par djamal lamri dûment habilité(e)
    </p>
    <p>Le numéro individuel TVA de l’éditeur est : FR09913126280.</p>

    <h2>Hébergement</h2>

    <p>
        Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007).
    </p>

    <p>Directeur de publication</p>

    <p>Le Directeur de la publication du Site est djamal lamri .</p>

    <h2>Nous contacter</h2>

    <p>Par téléphone : +33148694452</p>
    <p>Par email : contact@progfacil.com</p>
    <p>Par courrier : 26 rue bosquet 75007 PARIS</p>

    <h2>Données personnelles</h2>

    <p>
        Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).
    </p>

    <p>Génération des mentions légales par Legalstart.</p>


{% endblock %}