{% extends 'base-membre.html.twig' %}

{% block title %}New Salary{% endblock %}

{% block body %}
    <h1>Create new Salary</h1>

    {{ include('salary/_form.html.twig') }}

    <a href="{{ path('app_salary_index') }}">back to list</a>
{% endblock %}
