
/* member */
#navbar-right {
    position:fixed;
    top: 0;
    background-color: rgb(241, 255, 44);
    width: 189px;
    height: 100%;
    margin-top: 0;
}
#navbar-head {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    background-color: red;
    margin-top: 0;
}
.content-member {
    margin-left: 250px;
    background-color: beige;
}
.contentDashboard {
    margin-left: 250px;
}

.error-message {
    color: red;
}

.alert-success {
    background-color: green;
    height: 30px;
    width: 700px;
    margin: 10px;
}

.add_button {
    width: 30px;
    height: 30px;
    margin-top: 25px;
    cursor: pointer;   
}

.fixedFees {
    font-size: 20px;
    color: blueviolet;
}

.prototype {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.prototype div input {
    width: auto;
}

/* style for the collapsible menu */

.active-link, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
} 

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active-link:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* the wizard form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 80%;
    min-width: 300px;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04AA6D;
} 