<a href="{{ path('app_mentions-legales') }}" /> Mentions Légales </a>
<a href="{{ path('app_condition-generales') }}" /> Conditions générales </a>
<a href="{{ path('app_confidentialites') }}" /> Politique de confidentialité </a>
