<ul id="navbar-right">
    <li><a href="{{ path('app_dashboard') }}" /> Dashboard </a> </li>
    <li><a href="{{ path('app_calcul') }}" /> Calcul </a> </li>
    <li>lien 2 </li>
    <li>lien 3 </li>
</ul>

<ul id="navbar-head">
    <li>lien 4 </li>
    <li>lien 6 </li>
    <li>lien 7 </li>
</ul>