{% extends 'base.html.twig' %}

{% block title %}New FixedFeeCalcul{% endblock %}

{% block body %}
    <h1>Create new FixedFeeCalcul</h1>

    {{ include('fixed_fee_calcul/_form.html.twig') }}

    <a href="{{ path('app_fixed_fee_calcul_index') }}">back to list</a>
{% endblock %}
