{% extends 'base-membre.html.twig' %}

{% block title %}Dashboard!{% endblock %}

{% block body %}
        <div>
                <div class="dashboard-row">
                        <div class="dashboard-item">
                                <div>image + chiffre</div>
                                <div><i class="fa-solid fa-chevron-right awsome"></i></div>
                        </div>
                        <div class="dashboard-item">
                                <div>image + chiffre</div>
                                <div><i class="fa-solid fa-chevron-right awsome"></i></div>
                        </div>
                </div>
                <div class="dashboard-row">
                        <div class="dashboard-item">
                                <div>image + chiffre</div>
                                <div><i class="fa-solid fa-chevron-right awsome"></i></div>
                        </div>
                        <div class="dashboard-item">
                                <div>image + chiffre</div>
                                <div><i class="fa-solid fa-chevron-right awsome"></i></div>
                        </div>
                </div>
        </div>
        <div class="dashboard-report">
                <h3 class="footer-title">Rapport</h3>
        </div>
{% endblock %}
