{% extends 'base-membre.html.twig' %}

{% block title %}Dashboard!{% endblock %}

{% block body %}

<div class="example-wrapper">
    

    <div class='content-member'>
        <h1>Dashoard</h1>
    </div>

</div>
{% endblock %}
